DATABASE_URL="sqlserver://<HOST>:<PORT>;database=<DB_NAME>;user=<USER>;password=<PASSWORD>;encrypt=true;trustServerCertificate=true;"
JWT_SECRET="MUVH_SUPER_SECRET_JWT_KEY_2026_XOAI"
MOD_SECRET_SALT="MUVH_SECRET_SALT_XOAI"
